$colors: (
    "violet": "--color-primary",
    "orange": "--color-secondary",
    "brown": "--color-tertiary",
    "lightgray": "--color-quaternary",
    "darkgray": "--color-quinary",
    "white": "--color-foxtwhiterot",
    "black": "--color-black"
);

$colors_fallback: (
    "violet": "#534588",
    "orange": "#f6a800",
    "brown": "#a44200",
    "lightgray": "#dfe1e1",
    "darkgray": "#1b2327",
    "white": "#fff",
    "black": "#000",
    "blueviolet": "#5f6eb3"
);

$color__primary: var(--color-primary);
$color__secondary: var(--color-secondary);
$color__tertiary: var(--color-tertiary);
$color__tertiary-hover: var(--color-tertiary);
$color__quaternary: var(--color-quaternary);
$color__quinary: var(--color-quinary);
$color__white: var(--color-white);
$color__black: var(--color-black);

$color__background-body: $color__white;
$color__background-screen: $color__quinary;
$color__background-hr: $color__quinary;
$color__background-button: $color__secondary;
$color__background-pre: inherit;
$color__background-ins: inherit;

$color__text-screen: $color__quaternary;
$color__text-input: $color__black;
$color__text-input-focus: $color__tertiary;
$color__link: $color__primary;
$color__link-visited: inherit;
$color__text-main: $color__black;
