// Border Utilities

$utilities: () !default;

$utilities: map-merge(
  (
    'border': (
      property: border,
      values: (
        null: $border-width solid $border-color,
        0: 0
      )
    ),
    'border-top': (
      property: border-top,
      class: bt,
      values: (
        null: $border-width solid $border-color,
        0: 0
      )
    ),
    'border-right': (
      property: border-right,
      class: br,
      values: (
        null: $border-width solid $border-color,
        0: 0
      )
    ),
    'border-bottom': (
      property: border-bottom,
      class: bb,
      values: (
        null: $border-width solid $border-color,
        0: 0
      )
    ),
    'border-left': (
      property: border-left,
      class: bl,
      values: (
        null: $border-width solid $border-color,
        0: 0
      )
    ),
    'border-color': (
      property: border-color,
      class: border,
      values:
        map-merge(
          $theme-colors,
          (
            'white': $color__white
          )
        )
    )
  ),
  $utilities
);
